﻿<h1>All category</h1>
<div class="form-group">
    <kendo-combobox name="categories" [data]="Category" textField="title" valueField="id" [valuePrimitive]="true" [(ngModel)]="selectedValue"
        (valueChange)="valueChange()">

    </kendo-combobox>
</div>
<div id="postlist" *ngFor="let item of ArticleViewModel">
    <div class="panel">
        <div class="panel-heading">
            <div class="text-center">
                <div class="row">
                    <div class="col-sm-9">
                        <h3 class="pull-left">
                            <h3 (click)="selectArticle(item.id)">{{item.title}}</h3>
                        </h3>
                    </div>
                    <div class="col-sm-3">
                        <small>Категория:
                            <div *ngFor="let item2 of item.categoryTitle"> {{item2}} </div>
                        </small>
                        <h4 class="pull-right">
                            <small>Автор {{item.author}}</small>
                            <span class="glyphicon glyphicon-remove-circle" (click)="dell(item.id)"></span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            {{item.description}}
        </div>
        <div class="panel-footer">
            <h4>
                <span></span>
                <span class=" glyphicon glyphicon-comment"></span>
                <small class="pull-right">{{item.dateTime}}</small>
            </h4>
        </div>
    </div>
</div>