<div>
    <div id="postlist">
        <div class="panel">
            <div class="panel-heading">
                <div class="text-center">
                    <div class="row">
                        <div class="col-sm-9">
                            <h3 class="pull-left">{{articleModel.title}}</h3>
                        </div>
                        <div class="col-sm-3">

                            <h4 class="pull-right">
                                <small>Автор {{articleModel.author}}</small>
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </h4>
                        </div>

                    </div>

                </div>
            </div>

            <div class="panel-body">
                {{articleModel.description}}
            </div>
            <div class="panel-footer">
                <h4>
                    <span class=" glyphicon glyphicon-comment"></span>
                    <small class="pull-right">{{articleModel.dateTime}}</small>
                </h4>

            </div>
        </div>

    </div>
    <div class="col-sm-5" *ngFor="let comment of articleModel.comment">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{comment.nameAuthor}}</strong>
                <span class="text-muted">commented {{comment.dateTime}}</span>
                <span class="glyphicon glyphicon-remove-circle pull-right" (click)="delete(comment)"></span>
            </div>
            <div class="panel-body">
                {{comment.commentary}}
            </div>
            <!-- /panel-body -->
        </div>
        <!-- /panel panel-default -->
    </div>
    <!-- /col-sm-5 -->
    <div>
        <form name="Form" role="form" id="contact-form" (ngSubmit)="addComment()" class="contact-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="name" class="form-control" name="Name" placeholder="Name" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control textarea" [(ngModel)]="commentary" rows="3" name="Commentary" placeholder="Comment" required></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn main-btn pull-right">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>