 <h1>New article</h1>
<div id="newArticle">



    <form name="Form" id="contact-form" (ngSubmit)="create()" class="contact-form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="Title" name="title" placeholder="Title" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="Name" name="name" placeholder="Name" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <kendo-multiselect 
                    name="categories"
                    [data]="Category" 
                    textField="title" 
                    valueField="id" 
                    [valuePrimitive]="true" 
                    [(ngModel)]="selectedValue"
                   >
                    </kendo-multiselect>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control textarea" rows="3" [(ngModel)]="Discription" name="discription" placeholder="Article" required></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <button type="submit" id="addArticle" class="btn main-btn pull-right">Send a message</button>
    </form>


</div>