﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #dbdbdb;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
     will truncate terms that are too long to fit in the left column 
  */
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.col-sm-5 {
    width: 100%;
}
 
.contact-form {
    margin-top: 15px;
}

    .contact-form .textarea {
        min-height: 220px;
        resize: none;
        max-width: initial;
    }

.form-control {
    box-shadow: none;
    border-color: #eee;
    height: 49px;
}

    .form-control:focus {
        box-shadow: none;
        border-color: #00b09c;
    }

.form-control-feedback {
    line-height: 50px;
}

.main-btn {
    background: #00b09c;
    border-color: #00b09c;
    color: #fff;
}

    .main-btn:hover {
        background: #00a491;
        color: #fff;
    }

.form-control-feedback {
    line-height: 50px;
    top: 0px;
}

.form-group {
    max-width: initial;
}

.col-sm-5 {
    width: 100%;
}

.contact-form {
    margin-top: 15px;
}

    .contact-form .textarea {
        min-height: 220px;
        resize: none;
        max-width: initial;
    }

.form-control {
    box-shadow: none;
    border-color: #eee;
    height: 49px;
}

    .form-control:focus {
        box-shadow: none;
        border-color: #00b09c;
    }

.form-control-feedback {
    line-height: 50px;
}

.main-btn {
    background: #00b09c;
    border-color: #00b09c;
    color: #fff;
}

    .main-btn:hover {
        background: #00a491;
        color: #fff;
    }

.form-control-feedback {
    line-height: 50px;
    top: 0px;
}

.form-group {
    max-width: initial;
}
