


<main>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="allArticle">Personal blog</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink="newArticle/newArticle">New article</a>
          </li>
          <li>
            <a routerLink="allCategory/allCategory">All category</a>
          </li>
          <li>
            <a routerLink="editCategory/editCategory">Edit category</a>
          </li>
        </ul>
      </div> 
    </div>
  </div> 

  <div class="container body-content">
    <router-outlet></router-outlet>
    <hr />
    <footer>
      <p>&copy; 2017 - Myslyvets Dmytro [ test project ]</p>
    </footer>
  </div>
</main>